
body {
  background-color: #5C4033;
    padding-top: 0;
    margin-top: 0;
}

img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 1.5vw;
  color: #0D0D0D;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
  padding: 2%;
  color: #D3D3D3;
}
button{
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;
}

.banner {
  width: 99%;
  position:fixed;
  height: 10vh;
  border-bottom: 1px solid #0D0D0D;
  margin-bottom: 2%;
  overflow: visible;
  display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(1, 100%);
}
.banner p{
  margin: 0;
  padding: 0;
  color: #D3D3D3;
}
.banner button{
  outline: none;
  border: none;
  background-color: #5C4033;
  height: 100%;
  width: 100%;
  font-size: 1.5vw;
}
.banner button p:hover{
  color:#0D0D0D;
  text-decoration: underline;
}
#btn_about{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: auto;
}
#btn_skills{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row: auto;
}
.main_title{
  grid-column: 7/14;
  text-align: center;
  background-color:#B08D57;
}
.main_title p, .main_title h1{
  margin: 0;
  padding: 3%;
}
#title_div{
  height: fit-content;
  background-color:#B08D57;
  border-radius: 50px;
}
#title_div h1{
  color: #5C4033;
}
#btn_project{
  grid-column-start: 14;
  grid-column-end: 17;
  grid-row: auto;
}
#btn_contact{
  grid-column-start: 17;
  grid-column-end: 20;
  grid-row: auto;
}
.about_1 {
  grid-column: 1/9;
  grid-row: 1/2;
}
#about{
  scroll-margin-top: 10vh;
}
.about_2{
  grid-column: 1/9;
  grid-row-start: 3;
  grid-row-end: auto;
}
.about_2 img{
  outline: 4px solid#B08D57;     /* sits outside the border */
  outline-offset: 2px;
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.about_2 p {
  padding-left: 5%;
}

.about_container{
  padding-top: 10vh;
  border: 1px solid black;
  margin-bottom: 2%;
  height: auto;
  min-height: 0; 
  display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
  }

.skill_container {
  border: 1px solid black;
  height: auto;
  min-height: 0; 
  margin-bottom: 2%;
  padding-bottom: 5%;
  display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px
}
#skill{
  scroll-margin-top: 10vh;
}
.skill_title{
  grid-column: 1/9;
  grid-row: 1/2;
}


.skill_container2 {
  height:auto;
  grid-column-start: 2;
  grid-column-end:9;
  grid-row-start: 3;
  grid-row-end: 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
}
.skill_container2 img{
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.skill_container2 p{
  text-align: center;
}
.skill_java{
  grid-column: 1/4;
  grid-row: auto;
}
.skill_py{
  grid-column: 5/8;
  grid-row: auto;
}
.skill_HTML{
  grid-column: 1/4;
  grid-row: auto;
}
.skill_SQL{
  grid-column: 5/8;
  grid-row: auto;
}

.projects {
  border: 1px solid black;
  padding-bottom: 5%;
  margin-bottom: 2%;
  display: grid;
}
#project{
  scroll-margin-top: 10vh;
}
.project_title{
  grid-column: 1/9;
  grid-row: 1/2;
}

.Project_container {
  grid-column-start: 5;
  grid-column-end: 9;
  background-color: #5C4033;
  grid-column-gap: 2px;
  grid-row-gap: 5px;
  display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
  width:75vw;
  overflow-x:scroll;
}
.Project_container::-webkit-scrollbar {
  display: none;
}
#project_row1 button:hover{
  background-color: #D3D3D3;
}
#project_row2 button:hover{
  background-color: #D3D3D3;
}
#project_row1{
  grid-row: 1;
  grid-column: auto;
}
#project_row1 button{
  height: 100%;
  width: 100%;
  background-color:  #B08D57;
}
#project_row2{
  grid-row: 2;
  grid-column: auto;
}
#project_row2 button{
  height: 100%;
  width: 100%;
  background-color:  #B08D57;
}
#project_img{
  padding: 2px, 2px, 6px, 2px;
}
.projects img{
  height: 20vh;
  width: 15vw;
}
.contact {
  border: 1px solid black;
  margin-bottom: 2%;
}
#contact{
  scroll-margin-top: 10vh;
}
.contact_container{
  display: grid;
  margin-bottom: 10%;
  max-width: 100vw;
  grid-template-columns: repeat(8, 1fr);
  gap: 5%;
}
.contact_container button{
  outline: none;
  border: none;
  background-color: transparent;
  height: 25vh;
  width: 25vh;
}

.linked-in{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row:auto;
}
.linked-in img:hover{
  content: url(images/contact/linkedin_hover.png)
}
.github{
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row: auto;
}
.github img:hover{
  content: url(images/contact/github_hover.png)
}
.textbox_container{
  display: grid;
  padding-bottom: 2%;
  width: 80%;
  max-width: 100vw;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}
.textbox_container label{
  margin-right: 1%;
  font-size: 1em;
}
.textbox_container input{
  width: 25vh;
}
.textbox_container input{
  background-color: #D3D3D3;
}
.messagebox_container textarea{
  background-color: #D3D3D3;
}
#post_submit{
  background-color: #B08D57;
  margin: 2%;
  width: 5vw;
  margin-left: 45%;
}
#email{
  margin-left: 5%;
}
.messagebox_container{
  width: 80%;
  max-width: 50vw;
  margin: 0 auto;
}
#body{
  width: 100%;
}
.contact_title{
  padding-left: 2%;
}
.personal {
  border: 1px solid black;
  margin-bottom: 2%;
}
